.advantages {
  padding-top: 24px;

  &__title {
    margin-bottom: 50px;

    @include phone {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include desktop-below {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include tablet-landscape {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  &__item {
    max-width: 370px;
    width: 100%;
    padding: 61px 30px;
    background-color: var(--light-grey-color);

    @include desktop-below {
      max-width: 400px;
      margin: 0 auto 50px;
    }

    @include phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:not(:last-child) {
      @include phone {
        margin: 0 auto 20px;
        padding: 40px 30px;
      }
    }

    &-title {
      position: relative;
      padding-top: 60px;
      margin-bottom: 42px;
      @extend %playfair-700;
      font-size: 18px;
      line-height: 1.33;
      color: var(--brown-color);

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;

        @include phone {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -22px;
        width: 30px;
        height: 3px;
        background-color: var(--title-color);

        @include phone {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &.complex-support::before {
        background-image: url('../img/decoration-icons/advantages/advantages-item-1.svg');
      }
      
      &.individual-maintenance::before {
        background-image: url('../img/decoration-icons/advantages/advantages-item-2.svg');
      }

      &.privacy-policy::before {
        background-image: url('../img/decoration-icons/advantages/advantages-item-3.svg');
      }
    }

    &-text {
      max-width: 290px;
      font-size: 13px;
      line-height: 1.67;
      color: var(--brown-color);
    }
  }
}