.header {
  position: relative;
  height: 100vh;
  padding-top: 24px;
  background-image: url('../img/header-bg-layer.svg'),
                    url('../img/hero-screen-bg.png');
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &__burger-menu {
    display: none;

    @include phone {
      position: absolute;
      left: 4px;
      top: -16px;
      display: block;
    }
  }

  &__overlay {
    position: absolute;
    top: -24px;
    bottom: 24px;
    left: 700px;
    width: 5000px;
    background-color: rgba($color: var(--title-color-test), $alpha: .7);

    @include desktop-below {
      display: none;
    }
  }

  &__flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__contacts,
  &__contacts-links,
  &__info,
  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    position: relative;
    @extend %openSans-600;

    @include tablet-portrait {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    align-items: flex-end;

    @include phone {
      display: none;
    }
  }

  &__menu {
    &-item {
      &:not(:last-child) {
        margin-right: 28px;
      }
    }

    &-link {
      position: relative;
      line-height: 1.78;

      &:hover {
        color: var(--button-accent-color);
      }

      &.active::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: var(--blue-color);
      }

      &.dropdown::after {
        content: "";
        position: absolute;
        top: 56%;
        right: -12px;
        width: 7px;
        height: 7px;
        background-image: url('../img/decoration-icons/menu-dropdown-arrow.svg');
        @extend %background;
        transform: translateY(-50%);
      }
    }
  }

  &__contacts {
    @include tablet-portrait {
      margin-bottom: 28px;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 17px;

        @include phone {
          margin: 0 0 10px 0;
        }
      }
    }

    &-links {
      @include phone {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-link {
      &:hover {
        color: var(--button-accent-color);
      }
    }

    &-btn {
      padding: 14px 17px;
      @extend %openSans-800;
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: rgba($color: var(--blue-color-test), $alpha: .4);
      transform: translateY(-6px);

      &:hover {
        color: var(--brown-color);
        background: rgba($color: var(--button-accent-color-test), $alpha: 1);
      }

      @include tablet-portrait {
        display: none;
      }
    }
  }

  &__logo {
    transform: translateY(-3px);

    @include tablet-portrait {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding-top: 46px;

    @include phone {
      flex-direction: column;
      align-items: center;
      padding-top: 0;
    }
  }

  &__hero {
    position: relative;
    max-width: 500px;
    transform: translateY(-13px);

    @include tablet-portrait {
      display: flex;
      flex-direction: column;
      margin-right: 8px;
      transform: translateY(0);
    }

    @include phone {
      text-align: center;
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -13px;
      right: -39px;
      width: 163px;
      height: 108px;
      background-image: url('../img/decoration-icons/long-arrow.svg');
      @extend %background;

      @include desktop-below {
        display: none;
      }
    }
  }

  &__slogan {
    margin-bottom: 40px;
    @extend %playfair-900;
    font-size: 48px;
    line-height: 1.33;

    @include tablet-desktop {
      font-size: 42px;
    }

    @include tablet-landscape {
      font-size: 38px;
    }

    @include tablet-portrait {
      font-size: 30px;
    }

    @include phone {
      margin-bottom: 20px;
    }

    @include phone-below {
      font-size: 28px;
    }
  }

  &__text {
    max-width: 345px;
    @extend %openSans-700;
    font-size: 24px;
    line-height: 1.4;

    @include tablet-landscape {
      font-size: 20px;
    }

    @include tablet-portrait {
      font-size: 14px;
    }

    @include phone {
      max-width: none;
      margin-bottom: 10px;
    }
  }
}

// бургер меню //

.burger__btn {
  /* display: none;  применяется для скрывания кнопки в полноэкранном режиме просмотра*/
  position: fixed;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  z-index: 25;
}
      
.burger svg {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

svg:not(:root) {
  overflow: hidden;
}

.burger path {
  fill: none; 
  stroke: #fff;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 40px;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s, stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25) 0s;
}

.burger path.burger__top, 
.burger path.burger__bottom {
  stroke-dasharray: 240px, 950px;
}

.burger path.burger__middle {
  stroke-dasharray: 240px, 240px;
}

.burger.active path.burger__top, 
.burger.active path.burger__bottom {
  stroke-dashoffset: -650px;
}

.burger.active path.burger__middle {
  stroke-dasharray: 1px, 220px;
  stroke-dashoffset: -115px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, .5);
  z-index: 20;
  background-color: var(--title-color);
  transform: translateX(110%);
  transition: all .3s cubic-bezier(0.785, 0.135, 0.15, .86);

  @include phone-below {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  &__item {
    max-width: 280px;
    width: 100%;
    padding-bottom: 34px;
  }

  &__link {
    display: block;
    transform: translateX(0);
    transition: all .4s ease;

    &:hover {
      color: var(--button-accent-color);
      transform: translateX(20px);
    }
  }
}

.menu.active {
  padding: 40px 25px;
  font-size: 24px;
  transform: translateX(0%);
}

.menu.active > li {
  opacity: 1;
  transform: translateX(0%);
}



.menu > li {
  position: relative;
  opacity: 0;
  transform: translateX(50%);
}

.menu > li:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  -webkit-transition: width 0 s ease;
  transition: width 0s ease;
}

.menu > li:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: var(--white-color);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

/**
* анимируем линию подчеркивания 
* ссылок при наведении
*/

.menu > li:hover:before {
  width: 0%;
  background: var(--white-color);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.menu > li:hover:after {
  width: 0%;
  background: transparent;
  -webkit-transition: width 0s ease;
  transition: width 0s ease;
}

.menu > li:nth-child(2) {
  // -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
  transition: opacity .5s .2s, transform .5s .2s;
}

.menu > li:nth-child(3) {
  // -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
  transition: opacity .5s .3s, transform .5s .3s;
}

.menu > li:nth-child(4) {
  // -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
  transition: opacity .5s .4s, transform .5s .4s;
}

.menu > li:nth-child(5) {
  // -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
  transition: opacity .5s .5s, transform .5s .5s;
}

.menu > li:nth-child(6) {
  // -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
  transition: opacity .5s .6s, transform .5s .6s;
}