.inspiration {
  padding: 100px 0;
  background-color: rgba(#2B2B2B, 1);
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  @include tablet-portrait {
    padding: 50px 0;
  }

  &__overlay {
    position: absolute;
    left: 700px;
    top: -200px;
    bottom: -200px;
    width: 5000px;
    background-color: rgba($color: var(--title-color-test), $alpha: .7);

    @include desktop-below {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet-portrait {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__slogan {
    position: relative;
    max-width: 550px;
    padding-top: 10px;
    @extend %playfair-900;
    font-size: 48px;
    line-height: 1.33;
    color: var(--white-color);

    @include desktop-below {
      max-width: 450px;
      font-size: 42px;
    }

    @include tablet-landscape {
      display: flex;
      align-items: center;
      padding: 0;
      font-size: 28px;
    }

    @include tablet-portrait {
      margin-bottom: 20px;
    }

    @include phone-below {
      font-size: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 45px;
      right: 10px;
      width: 163px;
      height: 108px;
      background-image: url('../img/decoration-icons/long-arrow.svg');
      @extend %background;

      @include tablet-desktop {
        display: none;
      }
    }
  }
}