.offers {
  padding: 100px 0;
  background-color: var(--light-grey-color);

  @include tablet-desktop {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 45px;

    @include desktop-below {
      margin-bottom: 40px;
    }

    @include tablet-desktop {
      margin-bottom: 15px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet-landscape {
      flex-wrap: wrap
    }
  }

  &__content {
    max-width: 480px;
    margin-top: 48px;

    @include desktop-below {
      max-width: 470px;
    }

    @include tablet-desktop {
      margin-top: 10px;
    }

    @include tablet-landscape {
      max-width: 100%;
      margin: 0 auto 30px;
    }
  }

  &__list {
    max-height: 360px;

    @include phone {
      max-height: 450px;
    }

    &-item {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      padding-left: 17px;
      border-left: 4px solid var(--blue-color);

      @include phone {
        flex-direction: column;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-terms {
        margin-bottom: 6px;
        @extend %openSans-700;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--grey-color); 
      }

      &-country {
        margin-bottom: 4px;
        @extend %playfair-700;
        font-size: 24px;
        line-height: 1.33;
        color: var(--brown-color);

        @include phone {
          font-size: 20px;
        }
      }

      &-details {
        display: flex;
        align-items: center;
        color: var(--grey-color);
      }

      &-price {
        position: relative;
        padding-right: 14px;
        margin-right: 14px;
        @extend %openSans-700;
        font-size: 18px;
        line-height: 1.66;

        &::after {
          content: "";
          position: absolute;
          bottom: 9px;
          right: 0;
          width: 1px;
          height: 9px;
          background-color: var(--grey-color);
        }
      }

      &-handle {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      &-link {
        padding: 5px 44px;
        @extend %openSans-700;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2.5;
        text-align: center;
        letter-spacing: 0.1em;
        color: var(--brown-color);
        background-color: var(--button-accent-color);

        &:hover {
          color: var(--white-color);
          background: var(--blue-color);
        }
      }
    }
  }

  &__img {
    max-width: 575px;

    @include desktop-below {
      max-width: 535px;
    }

    @include tablet-desktop {
      max-width: 400px;
      align-self: center;
    }

    @include tablet-landscape {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}