@font-face {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/OpenSans/OpenSans-400.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/OpenSans/OpenSans-600.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-600.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/OpenSans/OpenSans-700.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-700.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/OpenSans/OpenSans-800.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-800.woff2') format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/PlayfairDisplay/PlayfairDisplay-700.woff') format('woff'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-700.woff2') format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/PlayfairDisplay/PlayfairDisplay-900.woff') format('woff'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-900.woff2') format('woff2');
}