.get-contacts {
  display: flex;
  max-width: 550px;
  border: 3px solid var(--white-color);
  z-index: 2;

  @include tablet-desktop {
    max-width: 450px;
  }

  @include tablet-desktop {
    max-width: 418px;
  }

  @include tablet-portrait {
    max-width: 390px;
  }

  &-aside {
    padding: 24px;
    @extend %openSans-800;
    writing-mode: vertical-lr;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    background: rgba($color: var(--white-color-test), $alpha: .4);
    transform: rotate(-180deg);

    @include tablet-desktop {
      padding: 24px;
      font-size: 20px;
    }

    @include tablet-landscape {
      padding: 20px;
      font-size: 18px;
    }

    @include tablet-portrait {
      padding: 18px;
      font-size: 16px;
    }
    
    @include phone-below {
      padding: 14px;
      font-size: 12px;
    }
  }

  &__form {
    padding: 65px 92px 65px 84px;

    @include tablet-desktop {
      padding: 40px;
    }

    @include tablet-landscape {
      padding: 30px;
    }

    @include tablet-portrait {
      padding: 20px;
    }

    @include phone-below {
      padding: 15px;
    }
  
    &-input,
    &-btn {
      min-width: 290px;
      width: 100%;   
      
      @include phone {
        min-width: 0;
      }
    }
  
    &-input {
      margin-bottom: 9px;
      padding: 13px 20px 14px 20px;
      font-size: 13px;
      color: var(--white-color);
      background: rgba($color: var(--white-color), $alpha: 0);
      border: 1px solid var(--white-color);
  
      &::placeholder {
        color: var(--white-color);
      }

      @include phone-below {
        padding: 8px 15px;
      }
    }
  
    &-btn {
      padding: 15px 20px 13px 20px;
      margin-top: 10px;
      @extend %openSans-700;
      color: var(--brown-color);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background: var(--button-accent-color);

      @include phone-below {
        padding: 8px 15px;
        font-size: 12px;
      }
    }
  }
}

