body {
  @extend %openSans-400;
  font-size: 14px;
  line-height: 1.2;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.container--lg {
  max-width: 1790px;
}

.title {
  margin: 0 auto 40px;
  font-size: 36px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}