body {
  @extend %openSans-400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
}

.container {
  max-width: 1180px;
  padding: 0 5px;
  margin: 0 auto;

  &--overlay {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
  }
}

.section-margin-bottom {
  margin-bottom: 100px;

  @include tablet-landscape {
    margin-bottom: 50px;
  }

  @include phone {
    margin-bottom: 25px;
  }
}

.title {
  position: relative;
  @extend %playfair-700;
  font-size: 36px;
  line-height: 1.33;
  color: var(--title-color);

  @include desktop-below {
    font-size: 32px;
  }

  @include tablet-desktop {
    font-size: 28px;
  }

  @include tablet-landscape {
    font-size: 22px;
  }

  &-dash-left::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--blue-color);

    @include desktop-below {
      top: -16px;
    }
  }

  &-dash-center {
    text-align: center;
    
    &::before {
      content: "";
      position: absolute;
      top: -24px;
      left: 50%;
      width: 30px;
      height: 3px;
      transform: translateX(-50%);
      background-color: var(--blue-color);
    }
  }
}

.scrollLock {
  overflow: hidden;
}

// only for screenreaders //
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
// only for screenreaders //

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}