// colors //
html:root {
  --title-color: #3A4661;
  --white-color: #fff;
  --brown-color: #3F3F3F;
  --blue-color: #6CA6C1;
  --grey-color: #7281A4;
  --light-grey-color: #F5F8F9;
  --button-accent-color: #FFE66D;

  --white-color-test: 255, 255, 255;
  --title-color-test: 58, 70, 97;
  --blue-color-test: 108, 166, 193;
  --button-accent-color-test: 255, 230, 109;
}
// colors //

%background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%shadow {
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, .05);
}

// fonts //
%openSans-300 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

%openSans-400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

%openSans-600 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

%openSans-700 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

%openSans-800 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

%playfair-700 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

%playfair-900 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
// fonts //